html {
    text-align: center;
    background: #121212;
    color: white;
}

.sendBox {
    margin-bottom: 10px;
    background: #121212;
    color: white;
    border: none;
    width: 100%;
    text-align: center;
}

.message{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


i{
    font-size: 10px;
}

p.sendButton